altgraph==0.17
et-xmlfile==1.0.1
future==0.18.2
numpy==1.20.1
openpyxl==3.0.7
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.38.0
pywin32-ctypes==0.2.0
PyYAML==5.4.1
